@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

body{
    font-family: "Margarine", sans-serif;
    padding: 0;
    margin: 0;
}

/* mensagem de Bem vindo ou de Produto adicionado ao carrinho */
#mensagem{
    position: fixed; /* posicao fixa na tela, na parte superior */
    z-index: 1;
    display: none; /* JavaScript fara aparecer */
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0); /* ficar no meio da tela */
    padding: 0 50px;
    background-color: greenyellow;
    border-bottom: 5px solid rgb(129, 202, 20);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

/* imagem de volta as aulas */
header .img{
    width: 100%;
    height: 500px;
}

/* submenu amarelo */
.submenu{
    width: 100%;
    height: 60px;
    background: #efff0b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* cada informacao do submenu */
.submenu .info{
    display: flex; /* para ficar um do lado do outro (icone + paragrafo) */
    align-items: center;
    gap: 10px;
}
.submenu .info i{
    font-size: 32px;
}
.submenu .info p{
    font-size: 18px;
}

main{
    margin: 50px auto;
    padding: 0 150px;
}
/* div dos items / lugar onde os produtos estarao */
#items{
    display: flex; /* display flex com flex wrap para quebrar a linha, e deixar os produtos com a mesma quantidade em cada linha quando possivel */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    gap: 40px;
}

/* para cada produto */
.item{
    display: flex; /* para deixar na ordem, de cima para baixo: imagem do produto, nome, preco e botao */
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
}
.item:hover{
    cursor: pointer;
    box-shadow: 2px 2px 8px #000000b5;
}
.item img{
    margin-top: 20px;
}

/* categoria em azul no produto */
.item .categoria{
    padding: 5px 20px;
    border-radius: 10px;
    left: 0;
    top: 0;
    margin: 0;
    background-color: #011d54;
    position: absolute;
    transition: .3s;
}
.item .categoria:hover{
    scale: 1.1;
}
.item .categoria a{
    color: white;
    text-decoration: none;
}
.item .nome-produto{
    margin: 5px 0;
}
.item .preco{
    margin: 5px 0 40px;
    color: #011d54;
    font-weight: bold;
    font-size: 20px;
}

/* botao de adicionar no carrinho */
.add-btn{
    width: 100%;
    height: 40px;
    font-family: "Margarine", sans-serif;
    font-size: 14px;
    background: #efff0b;
    border: none;
    border-radius: 10px;
    transition: .2s;
}
.add-btn:hover{
    cursor: pointer;
    background: #d7e60b;
}

/* icone do whatsapp */
.whatsapp{
    position:fixed; /* para deixar flutuando na parte de baixo da tela */
    bottom: 30px;
    right: 40px;
    transition: .3s;
}

.whatsapp:hover{
    scale: 1.2
}

.whatsapp a{
    color: green;
    font-size: 50px;
}

/* para telas como tablet */
@media(max-width: 900px){
    #items{
        gap: 20px;
    }
    .item img{
        width: 190px;
        height: 170px;
    }
    main{
        padding: 0 40px;
    }
}

/* para telas como celular */
@media(max-width: 650px){
    main{
        padding: 0;
    }
    header img{
        height: 300px;
    }
    #items{
        justify-content: center;
        gap: 10px;
    }
    .item{
        width: 150px;
        height: 330px;
    }
    .item img{
        width: 150px;
        height: 120px;
    }
    .submenu{
        height: 30px;
    }
    .submenu .info i{
        font-size: 24px;
    }
    .submenu .info p{
        font-size: 12px;
    }
    .whatsapp a{
        font-size: 40px;
    }
}